<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ict286.project" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="http://eris.ad.murdoch.edu.au/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="https://eris.ad.murodch.edu.au/*" />
	<platform name="android">
		<edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application" xmlns:android="http://schemas.android.com/apk/res/android">
			<application android:debuggable="true" />
		</edit-config>
	</platform>
</widget>
